/* 
background color nav: #3161E0;
background color section lightgrey: #F6F6F6;
background color bottom header: #23272A;
color text: #23272A;
background color bottom last section: #8EA1E1;
color title footer: #7289DA;
background color footer: #23272A;
background color bottom footer: #8EA1E1;
border color footer > div: #48557D;
*/

/* debug */

.debug header {
    background-color: blue;
}

.debug nav {
    height: 100px;
    background-color: aqua;
}

.debug #site-header section {
    height: 40vh;
    background-color: aqua;
}

.debug #site-main .col-lg, .debug #site-main .col-sm, .debug #site-footer .row .col-lg, .debug #site-footer .row .col-sm {
    height: 50vh;
}

.debug #site-main .col-lg, .debug #site-footer .row .col-lg {
    background-color: greenyellow;
}

.debug #site-main .col-sm, .debug #site-footer .row .col-sm {
    background-color: yellow;
}

.debug .colored .container.vh_160 {
    background-color: coral;
}

.debug .sign-in {
    background-color: aqua;
    height: 50px;
}

/* common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 80vh;
    width: 1200px;
    margin: auto;
}

.row {
    width: 100%;
}

/* utility */

:root {
    --bgcolor_rowcolored: #F6F6F6;
    --colore_dark: #23272A;
    --color_border_row: #48557D;
}

.p_relative {
    position: relative;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.colored {
    background-color: var(--bgcolor_rowcolored);
}

.vh_160 {
    height: 160vh;
}

/* #site-header */

/* #site-header {
    height: 100vh;
} */

#site-header section {
    width: 60%;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* #site-main */

#site-main .col-lg, .col-sm {
    float: left;
}

#site-main .col-lg {
    width: 70%;
}

#site-main .col-sm {
    width: 25%;
}

#site-main .row.uncolored .col-lg {
    margin-right: 5%;
}

#site-main .row .container {
    padding: 10% 0;
}

#site-main .row.colored .col-lg {
    margin-left: 5%;
}

/* #site-footer */

#site-footer {
    background-color: var(--colore_dark);
}

#site-footer .row .col-sm, #site-footer .row .col-lg {
    float: left;
}

#site-footer .row .col-sm {
    width: 20%;
}

#site-footer .row .col-lg {
    width: 70%;
}

#site-footer .row {
    padding: 4rem 0 2rem;
    border-bottom: 1px solid var(--color_border_row);
}
#site-footer .row .col-lg {
    margin: 0 5%;
}

.sign-in {
    margin-top: 2rem;
}


