/* 
background color nav: #3161E0;
background color section lightgrey: #F6F6F6;
background color bottom header: #23272A;
color text: #23272A;
background color bottom last section: #8EA1E1;
color title footer: #7289DA;
background color footer: #23272A;
background color bottom footer: #8EA1E1;
border color footer > div: #48557D;
*/



/* common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* debug */

