/* 
background color nav: #3161E0;
background color section lightgrey: #F6F6F6;
background color bottom header: #23272A;
color text: #23272A;
background color bottom last section: #8EA1E1;
color title footer: #7289DA;
background color footer: #23272A;
background color bottom footer: #8EA1E1;
border color footer > div: #48557D;
*/


/* #region debug */

.debug header {
    background-color: blue;
}

.debug nav {
    height: 100px;
    background-color: aqua;
}

.debug #site-header section {
    height: 40vh;
    background-color: aqua;
}

.debug #site-main .col-lg,
.debug #site-main .col-sm,
.debug #site-footer .row .col-lg,
.debug #site-footer .row .col-sm {
    height: 50vh;
}

.debug #site-main .col-lg,
.debug #site-footer .row .col-lg {
    background-color: greenyellow;
}

.debug #site-main .col-sm,
.debug #site-footer .row .col-sm {
    background-color: yellow;
}

.debug .colored .container.vh_160 {
    background-color: coral;
}

.debug .sign-in {
    background-color: aqua;
    height: 50px;
}


/* #endregion debug */


/* #region common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font_family);
}

.container {
    width: 1200px;
    margin: auto;
    font-family: var(--font_family);
}

.row {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--darker);
}

.wave {
    /*     fill: var(--bgcolor_rowcolored); */
    color: var(--bgcolor_rowcolored);
}

svg {
    display: block;
}


/* #endregion common */


/* #region utility */

:root {
    --font_family: 'Montserrat', sans-serif;
    ;
    --color_text_header: white;
    --bgcolor_rowcolored: #F6F6F6;
    --color_dark: #23272A;
    --color_border_row: #48557D;
    --bgcolor_nav: #3161E0;
    --bgcolor_alternative: #8EA1E1;
    --color_title_footer: #7289DA;
    --darker: black;
}

.rotate {
    transform: rotate(180deg);
}

.p_relative {
    position: relative;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.ta_center {
    text-align: center;
}

.w_100 {
    width: 100%;
}

.mtop_1 {
    margin-top: 1rem;
}

.d-flex {
    display: flex;
}

.btn {
    background-color: var(--color_text_header);
    padding: 10px 12px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    color: var(--darker);
}

.btn-alternative {
    padding: 0.75rem 1.75rem;
    background-color: var(--bgcolor_alternative);
    color: var(--color_text_header);
}


/* #region font-size */

.fs-14 {
    font-size: 14px;
}

.fs-12 {
    font-size: 12px;
}


/* #endregion font-size */


/* #region padding */

.p-1 {
    padding: 1rem;
}

.pb-6 {
    padding-bottom: 6rem;
}


/* #endregion padding */


/* #endregion utility */


/* #region site-header */


/* #region site-nav */

#site-header .nav-bar {
    background-color: var(--bgcolor_nav);
    color: var(--color_text_header);
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0;
}

.nav-bar .links a {
    color: var(--color_text_header);
    font-weight: bold;
}

.nav-bar .links a:hover {
    text-decoration: underline;
}

.nav-bar ul {
    width: 50%;
    justify-content: space-evenly;
}

#site-header .row.colored {
    background-color: var(--bgcolor_nav);
}

#site-header .row.bg_img {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}


/* #endregion site-nav */


/* #region section */

#site-header section {
    width: 600px;
    margin: auto;
    padding-top: 6rem;
    padding-bottom: 10.75rem;
    text-align: center;
    color: var(--color_text_header);
}

#site-header section h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

#site-header section p {
    line-height: 1.75rem;
    margin-bottom: 1.5rem;
}

#site-header .btn-light,
#site-header .btn-dark {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: 0px 0.5rem;
}

#site-header .btn-light {
    color: var(--color_dark);
    background-color: var(--color_text_header);
}

#site-header .btn-dark {
    color: var(--color_text_header);
    background-color: var(--color_dark);
}


/* #endregion section */


/* #endregion site-header */


/* #region site-main */

#site-main .colored {
    background-color: var(--bgcolor_rowcolored);
}

#site-main .col-lg,
.col-sm {
    float: left;
}

#site-main .col-lg {
    width: 61%;
}

#site-main .col-sm {
    width: 34%;
}

#site-main .row.uncolored .col-lg {
    margin-right: 5%;
}

#site-main .row .container {
    padding: 10% 0;
}

#site-main .row.colored .col-lg {
    margin-left: 5%;
}

#site-main h1 {
    font-size: 3rem;
    margin: 1.5rem 0;
}

#site-main p {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 2rem;
}

#site-main .col-lg div {
    background-size: cover;
    background-position: bottom;
    height: 458px;
}


/* immagini da inserire in html */

#item1 {
    background-image: url(../img/item1.svg);
}

#item2 {
    background-image: url(../img/item2.svg);
}

#item3 {
    background-image: url(../img/item3.svg);
}

.text {
    width: 94%;
    margin: auto;
    padding: 4rem 0;
}

#site-main section {
    width: 510px;
    margin: auto;
}

.stars {
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 2.15rem;
}


/* #endregion site-main */


/* #region site-footer */

#site-footer,
#site-footer a {
    background-color: var(--color_dark);
    color: var(--color_text_header);
}

#site-footer h2,
#site-footer h4 {
    color: var(--color_title_footer);
}

#site-footer .row .col-sm,
#site-footer .row .col-lg {
    float: left;
}

#site-footer .row .col-sm {
    width: 20%;
}

#site-footer .row .col-lg {
    width: 70%;
}

#site-footer .row {
    padding: 4rem 0 2rem;
    border-bottom: 1px solid var(--color_border_row);
}

#site-footer .row .col-lg {
    margin: 0 5%;
    justify-content: space-evenly;
}

#site-footer ul>li {
    padding: 0 0 0.5rem;
}

img.flag {
    width: 20px;
}

div.language-selection {
    margin-top: 1rem;
    align-items: center;
    gap: 2px;
}

#site-footer .sign-in {
    padding: 2rem 0 3rem;
    justify-content: space-between;
    align-items: center;
}

#site-footer .sign-in>.btn {
    padding: 10px 12px;
}


/* #endregion site-footer */